<form id="newTripForm"> 
	<input type="text" id="destination" name="destination" placeholder='dest' required /> 
	<input type="text" id="longitude" name="longitude" placeholder='long' required /> 
	<input type="text" id="latitude" name="latitude" placeholder= 'lat' required /> 

	<input type="Submit" />

</form>

<script type="text/javascript" src="../js/app.js"></script>

<button id="testDelete">Delete Trip</button>
