<input id="pac-input" class="controls" type="text" placeholder="Enter destinatinon">

<div id="map"></div>


<input class="comfirm-dest-button" type="button" value="Confirm destination">


<div id="suggestions">


</div>


<script type="text/javascript" src="../js/app.js"></script>

