<input id="pac-input" class="controls" type="text" placeholder="Enter destinatinon">

<div id="map"></div>


<input class="confirm-dest-button" type="button" value="Confirm destination">


<div id="suggestions">


</div>


<!-- DIV IN WHICH THE TRIPS LIST FOR THE USER WILL BE SHOWN -->

<div id="trips-list">
</div>





<script type="text/javascript" src="../js/app.js"></script>

