<h2>Sign up</h2>
<form class="signup" method="post" action="/signup">
  <div class="form-group">
    <label for="register-username">Username</label>
    <input type="text" name="username" id="register-username" class="form-control" placeholder="Username" required>
  </div>
  <div class="form-group">
    <label for="register-email">Email address</label>
    <input type="email" name="email" id="register-email" class="form-control" placeholder="Email" required>
  </div>
  <div class="form-group">
    <label for="register-password">Password</label>
    <input type="password" name="password" id="register-password" class="form-control" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-default">Sign up</button>
</form>